@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime

<page-title>
    <h1>
        @Title
        @if (!string.IsNullOrWhiteSpace(Flag))
        {
            <i class="fa-solid fa-flag" title="@Flag"></i>
        }
    </h1>
    @* <AmpHelpButton Show="@ShowHelp" HelpStateNameOverride="@HelpStateNameOverride"/> *@
</page-title>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? HelpStateNameOverride { get; set; }
    [Parameter] public bool ShowHelp { get; set; } = true;
    [Parameter] public string? Flag { get; set; }
}