@page "/todo/search"
@using AmpApp.Shared.Models.Todo
@using Zamp.Client.Components.Grid

@inject TodoGridDataService DataService

<search-page>
    <AmpPageTitle Title="To Do Search"/>
    <AmpGrid DataService="DataService"
             TGridRowDto="TodoGridRowDto"
             TGridCriteriaModel="TodoGridCriteriaModel"

             ColumnWidths="repeat(3,auto) 1fr">
        <HeaderRowFragment>
            <AmpGridCell Text="Title" OnClick='() => context("Title")'/>
            <AmpGridCell Text="Description" OnClick='() => context("Description")'/>
            <AmpGridCell Text="Complete" OnClick='() => context("IsComplete")'/>
            <AmpGridCell Text="Row Version" OnClick='() => context("RowVersionCount")'/>
        </HeaderRowFragment>
        <BodyRowFragment Context="row">
            <AmpGridCell Text="@row.Title"/>
            <AmpGridCell Text="@row.Description"/>
            <AmpGridCell Text="@row.IsComplete.ToString()"/>
            <AmpGridCell Text="@row.RowVersionCount.ToString()"/>
        </BodyRowFragment>
    </AmpGrid>

</search-page>

<h3>Test Console Output</h3>
<button @onclick="CallZampTest">Call Zamp.Client Console.WriteLine</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        DataService.Criteria.GridSorting.SetSort(("Description", false ));
        await DataService.LoadRowsAsync();
        await base.OnInitializedAsync();
    }

    private void CallZampTest()
    {
        Console.WriteLine("Start");
        Zamp.Client.DebugHelper.WriteTestMessage();
        Console.WriteLine("Finish");
    }
}