app-report {
    font-family: Tahoma, sans-serif;
    font-size: 0.875rem;
    
    @media print {
        & printing-instructions {
            display: none !important;
        }
    }
    
    & separator-bar {
        font-size: 1px;
        border: 1px solid #ccc;

        &::after {
            content: "x";
        }

    }

    & printing-instructions {
        display: block;
        background-color: #cff;
        border: 1px solid #bee;
        padding: 10px;

        & a {
            float: right;
            font-weight: bold;
            color: #000;
            opacity: .2;
            text-decoration: none;
            font-size: 16px;
            margin-top: -5px;
        }
    }

    h1 {
        padding: 10px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    h2 {
        padding: 10px;
        text-align: center;
        font-size: 0.875rem;
        font-weight: bold;
        
        & div {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
    
    & report-content {
        padding: 10px;
        
        & report-detail-section {
            display: block;
            padding: 10px 0;
            
            & table tr td:first-child {
                font-weight: bold;
                text-align: right;
                padding-right: 10px;
                vertical-align: top;

                &::after {
                    content: ":";
                }

            }
            
            & table tr td:last-child {
                width: 100%;
                
                & > ol, > ul {
                    margin-left: 2em;
                    margin-top: 5px;
                } 
            }
        }
    }

    & report-footer {
        padding: 10px;
        font-style: italic;
    }
}



